@model Libro;
@{
    ViewBag.Title = "Actualizacion de libro";
    ViewBag.Css = "form.css";
}

<div class="container-main">
    <div class="container-form">
        <h2>Actualizar libro</h2>
        <form asp-action="Actualizar" method="post">  
             <div class="mb-3">
                <label for="Titulo"  class= "form-label">Título:</label><br>
                <input type="text" id="Titulo" asp-for="Titulo" class="form-control">
            </div>
            <div class="mb-3">
                <label for="Autor"  class= "form-label">Autor:</label><br>
                <input type="text" id="Autor" asp-for="Autor" class="form-control">
            </div>
            <div class="mb-3">
                <label for="Genero"  class= "form-label">Género:</label><br>
                <input type="text" id="Genero" asp-for="Genero" class="form-control">
            </div>
            <div class="mb-3">
                <label for="Ubicacion"  class= "form-label">Ubicación:</label><br>
                <input type="text" id="Ubicacion" asp-for="Ubicacion" class="form-control">
            </div>
            
            <input class="btn-crear" type="submit" asp-action="Actualizar" value="Actualizar">
        </form>
    </div>
</div>