<h1>Eliminar Libro</h1>
    <form action="procesar_eliminacion.php" method="POST">
        <label for="id">ID del Libro a Eliminar:</label><br>
        <input type="text" id="id" name="id" required><br><br>

        <input type="submit" value="Eliminar">
    </form>

    <h2>Estado de Eliminación:</h2>
    <input type="text" id="estado_eliminacion" name="estado_eliminacion" readonly>