<h1>Eliminar Libro</h1>
    <form >

        <div class="mb-3">
            <label for="id"  class= "form-label">ID del Libro a Eliminar:</label><br>
            <input type="text" id="id" name="id" class="form-control" required><br><br>
        </div>

        <input type="submit" value="Eliminar" class="btn btn-danger">
    </form>

    <h2>Estado de Eliminación:</h2>
    <input type="text" id="estado_eliminacion" name="estado_eliminacion" readonly>