 <h1>Registrar Nuevo Libro</h1>
    <form action="procesar_registro.php" method="POST">
        <label for="titulo">Título:</label><br>
        <input type="text" id="titulo" name="titulo" required><br><br>

        <label for="autor">Autor:</label><br>
        <input type="text" id="autor" name="autor" required><br><br>

        <label for="genero">Género:</label><br>
        <input type="text" id="genero" name="genero" required><br><br>

        <label for="ubicacion">Ubicación:</label><br>
        <input type="text" id="ubicacion" name="ubicacion" required><br><br>

        <input type="submit" value="Registrar">
    </form>