@{
    ViewData["Title"] = "Dashboard";
    ViewBag.Css = "dashboard.css";
}

<div class="container-main">
    <h1>Bienvenido bibliotecario</h1>
    <div class="btn-gestion">
        <a asp-controller="Libros" asp-action="Index">Gestionar Libros</a>
        <a asp-controller="Users" asp-action="Index">Gestionar usuarios</a>
        <a asp-controller="Prestamo" asp-action="Index">Gestionar prestamos</a>
    </div>
</div>
