 <form >
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre" required><br><br>
        
        <label for="id_libro">ID del libro:</label><br>
        <input type="text" id="id_libro" name="id_libro" required>

        <label for="fecha_devolucion">Fecha de Prestamo</label><br>
        <input type="date" id="fecha_devolucion" name="fecha_devolucion" required><br><br>
        
        <input type="submit" value="Prestar Libro">
    </form>