<h1>Detalles del Libro</h1>
    <div id="detalles_libro">
        <p><strong>ID:</strong> <span id="id_libro"></span></p>
        <p><strong>Título:</strong> <span id="titulo_libro"></span></p>
        <p><strong>Autor:</strong> <span id="autor_libro"></span></p>
        <p><strong>Género:</strong> <span id="genero_libro"></span></p>
        <p><strong>Ubicación:</strong> <span id="ubicacion_libro"></span></p>
    </div>