<h2>Tabla de Usuarios y Préstamos</h2>
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <th>ID Usuario</th>
                <th>Usuario</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Usuario 1</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Usuario 2</td>
            </tr>
            
        </tbody>
    </table>

    <h2>Tabla de Préstamos</h2>
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <th>Libro Prestado</th>
                <th>Usuario</th>
                <th>Fecha de Préstamo</th>
                <th>Fecha de Devolución</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Libro A</td>
                <td>Usuario 1</td>
                <td>2024-03-20</td>
                <td>2024-03-25</td>
            </tr>
            <tr>
                <td>Libro B</td>
                <td>Usuario 2</td>
                <td>2024-03-18</td>
                <td>2024-03-23</td>
            </tr>
            
        </tbody>
    </table>