 <form class="row g-3">
        <label for="nombre" class="visually-hidden">Nombre:</label><br>
        <input type="text" id="nombre" class="form-control-plaintext" name="nombre" required><br><br>
        
        <label for="id_libro" class="visually-hidden">ID del libro:</label><br>
        <input type="text" id="id_libro" class="form-control-plaintext"name="id_libro" required>

        <label for="fecha_devolucion" class="visually-hidden">Fecha de Prestamo</label><br>
        <input type="date" id="fecha_devolucion" name="fecha_devolucion" required><br><br>
        
        <input type="submit" value="Prestar Libro">
    </form>