 <form >
        <div class="mb-3">   
            <label for="nombre"  class= "form-label">Nombre de usurio:</label><br>
            <input type="text" id="nombre"class="form-control" name="nombre" required><br><br>
        </div> 

        <div  class="mb-3">
            <label for="id_libro"  class= "form-label">ID del libro:</label><br>
            <input type="text" id="id_libro" class="form-control"name="id_libro" required>
        </div>


        <div class="mb-3">   
            <label for="fecha_devolucion"  class= "form-label">Fecha de Devolución</label><br>
            <input type="date" id="fecha_devolucion" name="fecha_devolucion" required><br><br>
        </div>

        <input type="submit" value="Devolver"   class="btn btn-success">
    </form>