@{
        ViewBag.Title = "Prestamos";
}


<link rel="stylesheet" href="~/css/prestamo.css" asp-append-version="true" />
<div class="container-main">
        <div class="container-prestamo">
                <h1>Indice de Préstamos</h1>
                <div class="acciones">
                        <a asp-area="" asp-controller="Prestamo" asp-action="CrearPrestamo">Crear Préstamo</a>
                        <a asp-area="" asp-controller="Prestamo" asp-action="Devolucion">Devolución de Libro</a>
                        <a asp-area="" asp-controller="Prestamo" asp-action="EditarPrestamo">Editar Préstamo</a>
                        <a asp-area="" asp-controller="Prestamo" asp-action="ListarLibrosDisponibles">Lista de Libros Disponibles</a>
                        <a asp-area="" asp-controller="Prestamo" asp-action="ListarLibrosPrestados">Lista de Libros Prestados</a>
                        <a asp-area="" asp-controller="Prestamo" asp-action="Renovacion">Renovación de Préstamo</a>
                        <a asp-area="" asp-controller="Historial" asp-action="Index">Historial de prestamos</a>
                </div>
        </div>
</div>