@{
    ViewBag.Title = "Prestamos";
}

<div class="container-main">
    <h1>Índice de Préstamos</h1>

    <h2>Acciones:</h2>
    <div>
        <a asp-area="" asp-controller="Prestamo" asp-action="CrearPrestamo"><button class="dropdown-item">Crear
                Préstamo</button></a>
        <a asp-area="" asp-controller="Prestamo" asp-action="Devolucion"><button class="dropdown-item">Devolución de
                Libro</button></a>
        <a asp-area="" asp-controller="Prestamo" asp-action="EditarPrestamo"><button class="dropdown-item">Editar
                Préstamo</button></a>
        <a asp-area="" asp-controller="Prestamo" asp-action="ListarLibrosDisponibles"><button
                class="dropdown-item">Lista de Libros Disponibles</button></a>
        <a asp-area="" asp-controller="Prestamo" asp-action="ListarLibrosPrestados"><button class="dropdown-item">Lista
                de Libros Prestados</button></a>
        <a asp-area="" asp-controller="Prestamo" asp-action="Renovacion"><button class="dropdown-item">Renovación de
                Préstamo</button></a>
        <a asp-area="" asp-controller="Historial" asp-action="Index"><button class="dropdown-item">Historial de
                prestamos</button></a>
    </div>
</div>