<h1>Índice de Préstamos</h1>
    
    <h2>Acciones:</h2>
    <ul>
        <li><a asp-area="" asp-controller="Prestamo" asp-action="CrearPrestamo"><button class="btn btn-success">Crear Préstamo</button></a></li>
        <li><a asp-area="" asp-controller="Prestamo" asp-action="Devolucion"><button class="btn btn-success">Devolución de Libro</button></a></li>
        <li><a asp-area="" asp-controller="Prestamo" asp-action="EditarPrestamo"><button class="btn btn-success">Editar Préstamo</button></a></li>
        <li><a asp-area="" asp-controller="Prestamo" asp-action="ListarLibrosDisponibles"><button class="btn btn-success">Lista de Libros Disponibles</button></a></li>
        <li><a asp-area="" asp-controller="Prestamo" asp-action="ListarLibrosPrestados"><button class="btn btn-success">Lista de Libros Prestados</button></a></li>
        <li><a asp-area="" asp-controller="Prestamo" asp-action="Renovacion"><button class="btn btn-success">Renovación de Préstamo</button></a></li>
    </ul>