<h1>Libros Prestados</h1>
    <table class="table table-bordered border-primary">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Género</th>
                
            
            </tr>
        </thead>
        <tbody>
           
            <tr>
                <td>2</td>
                <td>Cien años de soledad</td>
                <td>Gabriel García Márquez</td>
                <td>Realismo mágico</td>
               
               
            
            </tr>
            <!-- Puedes agregar más filas aquí según sea necesario -->
        </tbody>
    </table>