@{
    ViewBag.Title = "Libros prestados";
    ViewBag.Css = "table.css";
}
<div class="container-main">
    <div class="container-table">
        <h2>Libros pretados</h2>
        <table border="1">
            <thead>
                <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Género</th>
                <th>Usuario</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>01</td>
                <td>Cien años de soledad</td>
                <td>Gabriel García Márquez</td>
                <td>Realismo mágico</td>
                <td>Carlos</td>
                </tr>
                
            </tbody>

        </table>
    </div>
    <a class="btn-return" asp-controller="Prestamo" asp-action="Index">Volver</a>
</div>