@{
    ViewBag.Title = "Renovacion de prestamo";
    ViewBag.Css = "form.css";
}

<div class="container-main">
    <div class="container-form">
        <h2>Renovacion de prestamo</h2>
        <div class="mb-3">
            <label for="nombre" class="form-label">ID de usurio:</label>
            <input type="text" id="nombre" class="form-control" name="nombre" required>
        </div>
        <div class="mb-3">
            <label for="id_libro" class="form-label">ID del libro:</label>
            <input type="text" id="id_libro" class="form-control" name="id_libro" required>
        </div>
        <div class="mb-3">
            <label for="fecha_devolucion" class="form-label">Fecha de Renovacion</label>
            <input type="date" id="fecha_devolucion" name="fecha_devolucion" required>
        </div>
    </div>
    <a class="btn-crear" asp-controller="Prestamo" asp-action="Index">Renovacion</a>
</div>