
.container-table{
    table{
        margin-bottom: 40px;
        th{
            color: #000000;
            background-color: #685BAC;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: large;
            text-align: center;
        }
        th, td{
            border: 2px solid black;
            padding: 10px;
        }
    
        td:first-child{
            color: #000000;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    
        td{
            background-color: #ffffff;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}


.btn-return {
    margin-top: 25px;
    color: #000000;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    border-bottom: 2px solid black;
    padding: 0 10px;
    transition: 400ms;
}

.btn-return:hover {
    color: #000000;
    transform: scale(1.2);
}

