
/* Estilos a la table */

.container-table{
    .btn-new-user{
        margin-bottom: 20px;
        a{
            color: #ffffff;
            text-decoration: none;
            background-color: #096930;
            padding: 10px 15px;
            border-radius: 10px;
            font-family: Arial, Helvetica, sans-serif;
            transition: 200ms;
        }
        a:hover{
            background-color: #10863f;
        }
    }

    th{
        color: #000000;
        background-color: #685BAC;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
        text-align: center;
    }

    th, td{
        border: 2px solid black;
        padding: 10px;
    }

    td:first-child{
        color: #000000;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    td{
        background-color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
    }

    td:last-child{
        a{
            padding: 5px;
            border-radius: 5px;
        }
        a:first-child{
            background-color: #2AACC9;
        }
        a:nth-child(2){
            background-color: #C92A2A;
        }
        a:last-child{
            background-color: #2e9e4e;
        }
    }
}